$white: #ffffff;

.directory__card__container {
  position: relative;
  height: 100%;
  transition: flex-basis 300ms;
}

.directory__card_left {
  flex-basis: 50%;
  &.active {
    flex-basis: 100%;
  }
  .card__button {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 250px;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);
  }
  &:after {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 500px solid #191919;
    border-left: 50px solid transparent;
  }
}

.directory__card_right {
  flex-basis: 50%;
  &.active {
    flex-basis: 100%;
  }
  .card__button {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 250px;
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%);
  }
  &:before {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-top: 500px solid #191919;
    border-right: 50px solid transparent;
  }
}

.accessories__card_first {
  flex-basis: 33%;
  &.active {
    flex-basis: 50%;
  }
  .card__button {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 200px;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);
  }
  &:after {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 500px solid #191919;
    border-left: 50px solid transparent;
  }
}

.accessories__card_second {
  overflow: hidden;
  flex-basis: 34%;
  &.active {
    flex-basis: 50%;
  }
  .card__button {
    position: absolute;
    bottom: 10%;
    left: -19px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);
  }
  &:before {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-top: 500px solid #191919;
    border-right: 50px solid transparent;
  }
  &:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 500px solid #191919;
    border-left: 50px solid transparent;
  }
}

.accessories__card_third {
  flex-basis: 33%;
  &.active {
    flex-basis: 50%;
  }
  .card__button {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 200px;
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%);
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-top: 500px solid #191919;
    border-right: 50px solid transparent;
  }
}

.card__background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card__button {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover .button__title:after,
  &:focus .button__title:after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.button__title {
  position: relative;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: $white;
    opacity: 1;
    transform: translate3d(-101%, 0, 0);
    transition: opacity 300ms, transform 300ms;
  }
}
