.checkout__container {
  margin: 40px auto;
  width: 70%;
  color: #ffffff;
  font-size: 25px;
  .checkout__header {
    display: grid;
    grid-template-columns: 350px 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 50px;
    border-bottom: 1px solid white;
  }
  .info__message {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    height: 60px;
  }
  .checkout__footer {
    .footer__total_wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0px 30px;
      font-size: 40px;
    }
    .footer__button {
      margin-top: 20px;
      text-align: center;
    }
  }
}
