.homepage__container {
  animation: opacityChange 1s;
}

.main__categories {
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.accessories__categories {
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 40px;
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
